<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background-color: beige;
            font-size: 1.25rem;
        }
        form {
            background-color: white;
            padding:5rem 3rem;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 30%;
            margin: auto;
            margin-top: 5rem;
            border-radius: 10px;
            box-shadow: 20px 20px 50px grey;
        }
        h1 {
            margin-block: 2rem;
            color: brown;
        }
        button {
            background-color: orange;
            color: white;
            font-weight: bold;
            letter-spacing: 2px;
            padding: .5rem 1rem; 
            border-radius: 5px; 
            border: 0;
        }
        button:hover {
            background-color: antiquewhite;
            color: black;
            font-weight: bold;
        }
        input {
            border: 1px solid;
            border-radius: 15px;
            padding-inline: 10px;
            padding-block: 3px;
            
        }

    </style>
</head>
<body>
    
    <form action="/login" method="post" novalidate>
        <h1>Log In</h1>
        <% if (error) { %>
            <p role="alert">Incorrect username or password</p>
          <% } %>
          <br>
        <label for="fname">Username</label>
        <br>
        <input type="text" id="fname" name="username" style="margin-bottom: 15px;" required>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" required>
        <br>
        <br>
        <button type="submit" value="submit">Log In</button>
    </form>
</body>
</html>